.calcDivFlex {
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.notice {
    display: none;
}

.answerResultTotal, .answerResult{
    color: #3652AD;
}

.calcDiv {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    display: block;
    margin-top:20px;
}

.calcDivHeader p {
    font-size: 12px;
    display: block;
}

.calcDivHeader span {
    font-size: 17px;
    display: block;
    font-weight: bold;
    margin-bottom: 12px; 
}

.calcDivHeader {
    display: block;
    height: fit-content;
    margin-bottom: 10px;
}

#services_LegisCalc {
    margin-top: 20px;
}

.formCalcDiv label {
    display: block;
    margin-top: 10px!important;
}


.formCalcDiv {
    display: inline-block;
    width: 100%;
} 

.inputFormLegisCalc {
    background-color: transparent !important;
    border-width: 0px 0px 1px!important;
    border-top-style: initial!important;
    border-right-style: initial!important;
    border-left-style: initial!important;
    border-top-color: initial!important;
    border-right-color: initial!important;
    border-left-color: initial!important;
    border-image: initial!important;
    border-radius: 0px!important;
    box-sizing: border-box!important;
    color: rgb(17, 17, 17)!important;
    caret-color: currentcolor!important;
    display: block!important;
    margin: 0px!important;
    padding: 8px 0px!important;
    text-align: left!important;
    outline: none!important;
    width: 100%!important;
    border-bottom-style: solid!important;
    border-bottom-color: rgba(17, 17, 17, 0.2)!important;
    --inputCurrentColor: #111111!important;
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}

