.footer_cards_img {
    margin-left: 6px;
    display: inline-block;
}

.footer_cards_img img {
    width: 35px;
}

.footer_cards p {
    justify-self: center;
    font-size: 11px;
    line-height: 0;
}

.footer_cards {
    float: right;
    display: grid;
}

.card_div {
    display: flex;
}

.footer_cards_div {
    width: 100%;
    height: 26px;
    display: block;
}