
.buttonCalcInventario:active {
    transform: scale(1.0); 
}

.addInputValueInventario {
    cursor: pointer;
    color: #3652AD!important;
    text-decoration: underline;
}

.buttonCalcInventario:hover {
    transform: scale(0.98); 
    background-color: #3652AD;
}

.buttonCalcInventario, .buttonCalcInventario:focus {
    font-size: 15px;
    margin-top: 20px;
    background-color: #3652AD;
    color: rgb(255, 255, 255);
    --rippleLayerColor: rgba(255, 255, 255, 0.2);
    height: 3rem;
    display: flex;
    width: fit-content;
    margin-bottom:  1rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    outline: 0px;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: baseline;
    overflow: hidden;
    position: relative;
    border: 0px;
    transform: translate3d(0px, 0px, 0px);
    border-radius: 12px 12px 12px 12px;
    padding: 9px 9px 9px 9px;
}